{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm Prathamesh Shinde, a passionate and driven data scientist with a Bachelor's degree in
                    Computer Science and Engineering (Data Science). With a solid foundation in AI and Machine Learning,
                    I've worked on innovative projects like an Intelligent Video Surveillance System for Crime
                    Prevention and an Audio/Text to Sign Language Converter. I enjoy turning data into actionable
                    insights and building solutions that make a difference. When I'm not coding, you'll find me
                    exploring new tech trends or honing my skills in Python, SQL, and data visualization.

                    Feel free to connect with me on <a href="https://www.linkedin.com/in/prathamesh-shinde-9872b81b6">Linkedin</a>
                    or explore my projects on <a href="https://github.com/Prathamesh326">GitHub</a>
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
